<div class=" container-fluid"
  style="background-image:url('assets/hospital.jpg') ;background-size: cover;height: 560px;width: auto; margin-top: 90px;">
  <div class="row">
    <div class="col-lg-12" style=" padding-left: 110px ">
      <h1
        style="padding-top: 80px;  ;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 42px;font-weight: 500;letter-spacing: 1.3px;color: #3C3D41;margin-bottom: -30px; ">
        Online Software For Your </h1>
      <h1
        style="padding-top: 20px;    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 42px;font-weight: 500;letter-spacing: 1.3px;color: #3C3D41; ">
        Clinic/Hospital</h1>
      <p
        style="padding-top: 15px; color: #3C3D41;font-family: 'Work Sans', Sans-serif;font-size: 16px;font-weight: 400;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1.3px">
        DocPulse Clinic/Hospital Information Management System (HIMS) software helps
        <br>deliver superior healthcare delivery for doctors, clinics and hospitals.
      </p>
      <p
        style="padding-top: 15px; color: #000000;font-family: 'Work Sans', Sans-serif;font-size: 21px;font-weight: 400;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1.3px">
        <i class='fas fa-arrow-alt-circle-right' style='color:#6abe04'></i> For Clinics</p>
      <p
        style=" color: #000000;font-family: 'Work Sans', Sans-serif;font-size: 21px;font-weight: 400;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1.3px">
        <i class='fas fa-arrow-alt-circle-right' style='color:#6abe04'></i> For Medical Centers</p>
      <p
        style=" color: #000000;font-family: 'Work Sans', Sans-serif;font-size: 21px;font-weight: 400;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1.3px">
        <i class='fas fa-arrow-alt-circle-right' style='color:#6abe04'></i> For Hospitals (HIMS)</p>
      <p
        style=" color: #000000;font-family: 'Work Sans', Sans-serif;font-size: 21px;font-weight: 400;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;letter-spacing: 1.3px">
        <i class='fas fa-arrow-alt-circle-right' style='color:#6abe04'></i> For Clinic Chains</p>
      <button class="btn1 info" style="margin-top:15px">REQUEST DEMO</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12"><img src="assets/docpulse-logo.png" style="margin-left:43%;;"></div>
    <h2 style="text-align: center;font-size: 30px;margin-top: 40px"> HIIPA cloud hosted, trusted, provider focused
      platform</h2>
  </div>
  <div class="row" style="text-align: center;margin-top: 20px;">
    <div class="col-lg-4">
      <h1 style="color: #4c68b6;font-size: 60px;">
        <strong>3,000+</strong>
      </h1><P style="font-size: 20px;color: rgb(156, 154, 154);">Doctors and growing!</P>
    </div>
    <div class="col-lg-4">
      <h1 style="color: #4c68b6;font-size: 60px;"><strong>200+</strong></h1><p style="font-size: 20px;color: rgb(156, 154, 154);">Clients (India, ME, Africa)</p>
    </div>
    <div class="col-lg-4">
      <h1 style="color: #4c68b6;font-size: 60px;"><strong>5M+ </strong></h1>
      <p style="font-size: 20px;color: rgb(156, 154, 154);">Appointments/Records Handled Annually</p>
    </div>
  </div>
  <hr>

</div>

<div class="container-fluid" style="text-align:center ;">
  <div class="row">
    <div class="col-lg-12"><span style="font-size: 1.75rem;
      letter-spacing: normal; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-top: 30px;color: rgb(51, 51, 51);font-weight: 500;">Telemedicine Platform for Doctors/Hospitals/Clinics</span></div>
    <div class="col-lg-12"><p style="color: red;font-size: 1.75rem;
      letter-spacing: normal; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 500; ">Let Covid19 not affect your practice!</p></div>
  </div>
  <div class="row"style="margin-top:40px" >
    <div class="col-lg-4">
      <img src="assets/graph.png" style="height: 60px;margin-bottom: 20px;"><p style="font-size: 22px; font-weight:560">Scheduling With Payments</p>
    <a style="color: rgb(156, 154, 154);">Specify your schedule, collect payments.<br> Integrate the widget with your website and your mobile app. It’s that simple!</a>  </div>
    <div class="col-lg-4">
      <img src="assets/decision.png" style="height: 60px;margin-bottom: 20px;"><p style="font-size: 22px; font-weight:560">HD Video/Audio</p>
    <a style="color: rgb(156, 154, 154);">You can have a HD Video/Audio call with <br>your patients - both on web and app.</a></div>
    
    <div class="col-lg-4">
      <img src="assets/shield.png" style="height: 60px;margin-bottom: 20px;"><p style="font-size: 22px; font-weight:560">E-Prescription</p>
    <a style="color: rgb(156, 154, 154);">A powerful but simple e-prescription<br> (EMR) will allow you to prescribe and <br>share medications and advise.</a></div>
  </div>
  <hr>
  <div class="col-lg-12"><p style="font-size: 30px;font-weight:450; ">Clinic Management Software</p>
    <a>Handling patient bills and appointment used to be a chaotic scene in hospitals and clinics. Not anymore! With the arrival of DocPulse’s <strong><a style="color: rgb(212, 14, 113); cursor: pointer;" href="#"class="link">Clinic Management Software</a></strong>,<br> a systematic process has evolved over the time. The best part of this software is that it has reduced the use of paper, keeping all important information in one place<br> to access. Doctors could coordinate with other departments with great ease, regarding medical health records. The software has helped in <br>saving time as prescriptions, bills and other calculations are maintained digitally. This helps Doctors to concentrate on their core activities. </a>
   
  </div>

  
</div>
<div class="col-lg-12"><p style="font-size: 30px;font-weight:450; text-align: center;margin-top: 60px;">The Leading Clinic Management System in India Manage Appointments,<br> Bills, Payments and Patient Data with Ease!</p>

<div class="container" style="margin-top: 40px;">
  

  
  <div class="deck">
    <div class="card hovercard">
      <div class="front face">
        <h2>Appointments</h2>
        <div class="bottext">
          <h3>Hover <span id="boot-icon" class="bi bi-chevron-right" style="font-size: 1rem; color: rgb(255, 255, 255);"></span></h3>
        </div>
      </div>
      <div class="back face">
        <ul>
          <li>. Set up timings without any hurdle</li>
          <li>. Manage patient appointments with IVR, app or online</li>
          <li>. Handle the queue in a waiting room instantly</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="deck">
    <div class="card hovercard">
      <div class="front face">
        <h2>Billing</h2>
        <div class="bottext">
          <h3>Hover <span id="boot-icon" class="bi bi-chevron-right" style="font-size: 1rem; color: rgb(255, 255, 255);"></span></h3>
        </div>
      </div>
      <div class="back face">
        <ul>
          <li>. Systematize the recording of payments & creation of bills</li>
          <li>. Printed receipts signifying the brand name</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="deck">
    <div class="card hovercard">
      <div class="front face">
        <h2>Patient Record</h2>
        <div class="bottext">
          <h3>Hover <span id="boot-icon" class="bi bi-chevron-right" style="font-size: 1rem; color: rgb(255, 255, 255);"></span></h3>
        </div>
      </div>
      <div class="back face">
        <ul>
          <li>. Keep a track of your patient visits & history; easily and digitally!</li>
          <li>. Printed prescriptions for easy understanding</li>
          <li>. Improved care</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="deck">
    <div class="card hovercard">
      <div class="front face">
        <h2>Safety <br>&<br> Security</h2>
        <div class="bottext">
          <h3>Hover <span id="boot-icon" class="bi bi-chevron-right" style="font-size: 1rem; color: rgb(255, 255, 255);"></span></h3>
        </div>
      </div>
      <div class="back face">
        <ul>
          <li>. Confidentiality is priority! With the <b>practice management software,</b></li>
          <li>. We comply with the international data norms</li>
        </ul>
      </div>
    </div>
  </div>

</div>
</div>

<div class="container-fluid" style="text-align:center ;">
  <div class="col-lg-12"><p style="font-size: 25px;font-weight:450; text-align: center;margin-top: 60px;">Take the clinical experience to another level with<br><strong>practice management software</strong></p>
  <div class="col-lg-12"><p style="font-size: 15px; text-align: center;margin-top: 60px;">Implementing the best <strong>practice management software</strong> for your hospital is highly recommended. Being an industry that’s sensitive by nature, it’s extremely <br>important to use the right software to bring in more efficiency in the management for hospitals, clinics and doctors, and satisfying<br>
    patients with a speedy service.</p>
  <button class="btn1 info" style="margin-top:15px; margin-bottom: 40px;margin-top: 40px; cursor: pointer; ">LEARN MORE ABOUT DOCPULSE CLINIC MANAGEMENT</button>
</div>
</div>
</div>



<div class="container-fluid" style="background-color: #191C49;color: white;float:left;">
  <div class="row">
<div class="col-lg-3" >
  <ul style="list-style-type: none;cursor: pointer;">
    <li><img src="assets/logo2.png" style="margin-top: 30px;"></li>
    <li style="margin-top: 30px;">DocPulse Technologies, 91080 WORKSPACE<br> (JPN),</li>
    <li style="margin-top: 30px;"># 951, 24th Main Road, Marenahalli, 2nd <br>Phase,</li>
    <li style="margin-top: 30px;">J. P. Nagar, Bengaluru, Karnataka 560078</li>
    <li style="margin-top: 30px;"><span id="boot-icon" class="bi bi-envelope-fill" style="font-size: 1rem; color: rgb(255, 255, 255);"></span> contactus@docpulse.com</li>
    <li style="margin-top: 30px;"><span id="boot-icon" class="bi bi-telephone-fill" style="font-size: 1rem; color: rgb(255, 255, 255);"></span> 080 46837034</li>
  </ul>
</div>
<div class="col-lg-3">
  <ul style="list-style-type: none;cursor: pointer;">
    <li style="margin-top: 40px;"><strong>PRODUCTS</strong></li>
    <li style="margin-top: 30px;">IVR Appointment Booking Software</li>
    <li style="margin-top: 30px;">OP Billing</li>
    <li style="margin-top: 30px;">Electronic Health Record</li>
    <li style="margin-top: 30px;">Lab</li>
  </ul>
</div>
<div class="col-lg-3">
  <ul style="list-style-type: none;cursor: pointer;">
    <li style="margin-top: 40px;"><strong>HELP</strong></li>
    <li style="margin-top: 30px;">Reminders</li>
    <li style="margin-top: 30px;">Stock/Inventory</li>
    <li style="margin-top: 30px;">In Patient</li>
    <li style="margin-top: 30px;">Meet My Doctor</li>
    <li style="margin-top: 30px;">FAQ</li>
  </ul>
</div>
<div class="col-lg-3">
  <ul style="list-style-type: none;cursor: pointer;">
    <li style="margin-top: 40px;"><strong>SOLUTIONS</strong></li>
    <li style="margin-top: 30px;">Clinic</li>
    <li style="margin-top: 30px;">Medical Centers</li>
    <li style="margin-top: 30px;">Hospitals</li>
    <li style="margin-top: 30px;">Clinic Chains</li>
    <li style="margin-top: 30px;">FAQ</li>
  </ul>
</div>
</div>
<hr>
<div class="col-lg-12"><p style="text-align: center;margin-top: -70px;margin-bottom: 30px;font-family: 'Work Sans', Sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;;">Copyright © Docpulse - All Rights Reserved</p></div>
</div>

  
